.contHead{
    margin-top: 5em;
}
header{
    background: #fd7e14;
    min-height: 700px;
}
.navbar{

    background: transparent !important;
    color: black !important;
}

#headingFour{
    background: #fd7e14 !important; 
}
.btn-orange{
    background: #fd7e14 !important;
    color: #000000 !important;
}
.btn-purple{
    background: #800f6d!important;
    color: #ffffff !important;
}